node-red flow/logstudent.txt
[{"id":"1c5bfbb3.06b464","type":"inject","z":"e41b0239.1b66d","name":"sendtoesp","topic":"inTopic","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":60,"wires":[["a057ae18.cf893"]]},{"id":"a057ae18.cf893","type":"mqtt out","z":"e41b0239.1b66d","name":"","topic":"","qos":"","retain":"","broker":"6b5c5804.7bf958","x":420,"y":80,"wires":[]},{"id":"2278a37e.b6864c","type":"mqtt in","z":"e41b0239.1b66d","name":"CardID","topic":"outTopic/CardID","qos":"0","broker":"6b5c5804.7bf958","x":50,"y":280,"wires":[["59174e90.00a6a"]]},{"id":"59174e90.00a6a","type":"debug","z":"e41b0239.1b66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":240,"wires":[]},{"id":"7875fbc6.f27374","type":"function","z":"e41b0239.1b66d","name":"logRoomNum","func":"payload = {\"Room Number\":msg.payload3}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":460,"wires":[["7367b73a.dc6058"]]},{"id":"7367b73a.dc6058","type":"file","z":"e41b0239.1b66d","name":"log.txt","filename":"/home/kishorerabha/Documents/log.txt","appendNewline":false,"createDir":false,"overwriteFile":"false","x":910,"y":360,"wires":[[]]},{"id":"8f40140b.356f28","type":"mqtt in","z":"e41b0239.1b66d","name":"Name","topic":"outTopic/Name","qos":"0","broker":"6b5c5804.7bf958","x":50,"y":340,"wires":[["59174e90.00a6a","9b392034.3ad05","a3a22b19.ae1ea8"]]},{"id":"1d3cea6c.c171f6","type":"mqtt in","z":"e41b0239.1b66d","name":"RollNumber","topic":"outTopic/RollNumber","qos":"0","broker":"6b5c5804.7bf958","x":70,"y":400,"wires":[["59174e90.00a6a","b91f2eaa.ff24f"]]},{"id":"d88b55e7.49fd98","type":"mqtt in","z":"e41b0239.1b66d","name":"RoomNumber","topic":"outTopic/RoomNumber","qos":"0","broker":"6b5c5804.7bf958","x":70,"y":460,"wires":[["59174e90.00a6a","b88e326.c0992d"]]},{"id":"9b392034.3ad05","type":"change","z":"e41b0239.1b66d","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":340,"wires":[["5df5175e.ef1ff8"]]},{"id":"b91f2eaa.ff24f","type":"change","z":"e41b0239.1b66d","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":400,"wires":[["6aa035f3.d4c55c"]]},{"id":"b88e326.c0992d","type":"change","z":"e41b0239.1b66d","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":460,"wires":[["7875fbc6.f27374","2f440d9d.f572c2"]]},{"id":"6aa035f3.d4c55c","type":"function","z":"e41b0239.1b66d","name":"logRollNum","func":"payload = {\"Roll Number\":msg.payload2}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":400,"wires":[["7367b73a.dc6058"]]},{"id":"5df5175e.ef1ff8","type":"function","z":"e41b0239.1b66d","name":"logName","func":"var d = new Date().toLocaleDateString('en-IN', {\n    day : 'numeric',\n    month : 'short',\n    year : 'numeric'\n})\nvar t = new Date().toLocaleTimeString('en-IN', {\n    hour : '2-digit',\n    minute : '2-digit',\n    second : '2-digit'\n})\n\n\npayload = {\"Date\":d, \"Time\":t, \"Name\":msg.payload1}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":340,"wires":[["7367b73a.dc6058"]]},{"id":"2f440d9d.f572c2","type":"function","z":"e41b0239.1b66d","name":"newLine","func":"var nl = '\\n';\nmsg.payload = nl;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":520,"wires":[["7367b73a.dc6058"]]},{"id":"a3a22b19.ae1ea8","type":"file","z":"e41b0239.1b66d","name":"names.txt","filename":"/home/kishorerabha/Documents/names.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":930,"y":440,"wires":[[]]},{"id":"6b5c5804.7bf958","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"test-client","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
